/* CSS Document */
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	background-color: #FFA7A7;
	height: 200px;
	color: #F9ECEC;
 }
 nav{
	background-color: #633;
	height: auto;
	color: white;
}

main{
	height: auto;
	margin: 0 auto;
	padding: 30;
	background-color: #E7CEBF;
}
  body{ background-color:#FCC;}
   
   footer{
	height: 100px;
	background-color: #633;
	padding: 20px;
	color: white;
}
body header {

}



    
   ul {
	list-style: none;
	/* [disabled]background-color: #AA5555; */
	display: inline-block;
	height: auto;
	width: 99%;
	color: #181A27;
	border-width: 3px;
	}
body footer h6 {
	text-align: center;
	font-size: 18px;
}

nav ul li {
	list-style-type: none;
	width: 180px;
	height: auto;
	display: inline-block;
	background-color: #D0B4B4;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	margin: 10px;
	box-sizing: content-box;
	border-radius: 15px;
	padding: 3px;
	text-align: center;
}
h1 {
	padding: 10px;
	text-align: center;
	color: #5B0F12;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

header, nav, main, footer {
	margin: 0 auto;
	padding: 20 px;
	width: 80%;
}
section {
	width: 80%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 30px;
	border-radius: 20px;
	background-color: #FFA7A7;
}



table,th,td{
	border: 3px solid #36C;
	border-collapse: collapse;
	width: 70%;
  }
  th,td{
	  padding:20px;
	  text-align: center;
	  /*background-color:#FCF;*/
  }
  
  tr:hover{
	  background-color::yellow;
  }
  
  h2{ font-size:44px;
  }
  /*No puedo implementar las modificaciones del fondo porque no me aparecen las ventanas correspondientes por lo que lo voy a realizar desde el código.
  Aquí empiezan las etiquetas correspondientes.*/
 

	   
  
  /*Empiezan los identificadores*/
  #style_tabla_1 tr:hover{
	  background-color:yellow;
         }
		 
  #style_tabla_1,#style_tabla_1 th,#style_tabla_1 td
        {
	border: 3px solid #FBC046;
	border-collapse: separate;
	background-color: #CFC;
	width: 0%;
        }
  #style_tabla_1 {
	height: 300px;
	width: 70%;
  }
  #style_tabla_1 td{
	text-align: center;
	width: 80%;
  }
  #style_tabla_1 th{
	  /*Color de celdas que conforman el encabezado.*/
	  background-color:#0FF;
  }
  
  
 /* #style_tabla_1 th{
	  border: 3px solid #FBC046;
	  border-collapse:separate;
  }*/
  /*#style_tabla_1 td{
	  border: 3px solid #FBC046;
  }*/
  
  #style_tabla_2 th, #style_tabla_2 td{
	  border:3px solid red;
  }
  #style_tabla_2 tr:nth-child(even){
	  background-color:#090A0F;
	  color: aliceblue
  }
  #style_tabla_2 tr:nth-child(odd){
	  background-color:#F39;
	 
  }
  #style_tabla_2 th{
	background-color:#9C0;
  }
  /*Los que siguen son las clases.*/

  #encabezado_verde{
	  color:#3C6;
  }
  .encabezado_par{
	  color:#699;
  }
  .encabezado_impar{
	  color:#F36;
  }
#style_tabla_2 {
	width: 80%;
}
#style_tabla_0 {
	width: 80%;
}
footer h6 {
	width: 600px;
	margin: 0 auto;
	height: 50px;
}
main section p {
	margin-top: 10px;
	margin-bottom: 10px;
}
